.productListItem_Contaier{
  background: #fff;
  padding: 1rem;
  cursor: pointer;
  text-decoration: none;
  width: 100%;
}

.productListItem_Contaier > *{
  text-decoration: none;
}

.productListItem_Wrapper{
  display: flex;
  gap: 0.875rem;
  justify-content: space-between;
}

.productListItem_Image_Wrapper{
  max-width: 158px;
  max-height: 158px;
  width: 100%;
  height: 100%;
  position: relative;
}
.productListItem_Image_Wrapper img{
  width: 100%;
  height: 100%;
  max-width: 158px;
  max-height: 158px;
  object-fit: contain;
}

.productListItem_Content_Wrapper{
  max-width: 156px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.productListItem_Title{
  color: #08090A;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 0;
}

.productListItem_Price_Details{
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.productListItem_Discounted_Price{
  letter-spacing: -0.015em;
  color: #08090A;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.5rem;
  margin: 0;
}

.productListItem_Original_Price{
  color: #6D747A;
  font-weight: 500;
  text-decoration: line-through;
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin: 0;
}

.productListItem_Timer{
  letter-spacing: 0.004em;
  color: #DD1D43;
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 1.125rem;
  margin: 0;
}

.productListItem_Int_Button {
  max-width: 160px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .productListItem_Contaier{
    padding: 0.5rem;
    height: auto;
    max-width: 210px;
    border-radius: 0.25rem;
  }
  
  .productListItem_Wrapper{
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
  }
  
  .productListItem_Image_Wrapper{
    max-width: 190px;
    max-height: 190px;
    height: 190px;
  }

  .productListItem_Content_Wrapper{
    max-width: 190px;
  }

  .productListItem_Discounted_Price{
    font-size: 1.25rem;
    line-height: 1.75rem;
    letter-spacing: -0.01em;
  }

  .productListItem_Original_Price{
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .productListItem_Timer{
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  .productListItem_Image_Wrapper img {
    max-width: 194px;
    max-height: 194px;
  }

  .productListItem_Int_Button{
    margin: 0 0 0 0.375rem;
    max-width: 130px;
  }
}

@media screen and (min-width: 960px) {
  .productListItem_Int_Button{
    max-width: 150px;
  }
}

@media screen and (min-width: 1200px) {
  .productListItem_Contaier{
    max-width: 228px;
    padding: 0.75rem 0.75rem 1.5rem;
  }
  
  .productListItem_Wrapper{
    gap: 1rem;
  }

  .productListItem_Image_Wrapper{
    max-width: 204px;
    max-height: 204px;
    height: 204px;
  }
  
  .productListItem_Content_Wrapper{
    gap: 0.75rem;
    max-width: 204px;
  }
  
  .productListItem_Image_Wrapper img {
    max-width: 204px;
    max-height: 204px;
  }
  .productListItem_Int_Button{
    max-width: 160px;
  }
}