.headerbarContainer{
  background: #1B325E;
  height: fit-content;
  width: 100%;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
}

.headerbarWrapper{
  display: flex;
  justify-content: space-between;
  padding: 0.875rem 1rem;
  background: #1B325E;
}

.headerbarLeft, .headerbarRight{
  display: flex;
  gap: 0.75rem;
  align-items: center;
}

.headerbarLeft_Inner {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.headerbarCenter{
  display: none;
}

.hamburger{
  max-height: 28px;
  max-width: 28px;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.hamburger img{
  width: 100%;
  height: 100%;
}

.navLogo{
  cursor: pointer;
}

.left_location{
  display: none;
}

.right_login{
  display: none;
}

.storeIcon, .cartIcon, .user_profile{
  cursor: pointer;
  text-decoration: none;
  text-decoration: none;
}

.storeIcon img, .cartIcon img, .user_profile img{
  height: 100%;
  width: 100%;
  max-width: 24px;
  max-height: 24px;
}

.user_profile img{
  border-radius: 50%;
}

.storeIcon p, .cartIcon p, .user_profile p{
  display: none;
  margin: 0;
  text-decoration: none;
}

.searchbarWrapper{
  width: 100%;
  padding: 0px 1rem 0.875rem 1rem;
  background: #1B325E;
}

.searchbar_Container{
  position: relative;
  width: 100%;
  height: inherit;
}

.searchbar{
  padding: 0.5rem 0.75rem 0.5rem 2.625rem;
  width: 100%;
  border-radius: 0.25rem;
  border: none;
  outline: none;
}

.searchbar::placeholder{
  color: #1B325E;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 24px;
}

.seachbar_Icon{
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}

.search_Results{
  position: absolute;
  top: 104px;
  left: 0;
  background: #ffffff;
  border-radius: 0.25rem;
  margin: 0 0.5rem;
  height: fit-content;
  max-height: 500px;
  width: 100%;
  max-width: 500px;
  overflow: hidden;
  overflow-y: auto;
}

.search_Results::-webkit-scrollbar{
  display: none;
}

.search_Result_Item{
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 0 0 0.625rem;
  text-decoration: none;
}

.search_Result_Item p{
  margin: 0;
  color: #08090A;
}

.search_Result_Item:hover{
  background: #E5E5E5;
}

.locationbarWrapper{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.25rem;
  background: #546586;
  padding: 0.875rem 1rem;
}

.locationbarWrapper p{
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1.125rem;
  letter-spacing: 0.004em;
  color: #FFFFFF;
  margin: 0;
}

.login_tab_only{
  display: none;
}

.categories_Container{
  max-width: 100%;
  min-height: 72px;
  overflow-y: hidden;
  overflow-x: auto;
  cursor: grabbing;
  scroll-snap-type: x mandatory;
  scroll-padding: 0 1000px;
  padding: 0.5rem 0 0.5rem 1rem;
  cursor: auto;
  background-color: #FFFFFF;
}

.categories_Container::-webkit-scrollbar{
  display: none;
  width: 0;
}

.categories_Wrapper{
  display: flex;
  gap: 1rem;
  white-space: nowrap;
  /* padding: 0 0 10px; */
}

.category{
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  min-width: fit-content;
}

.category img{
  max-width: 36px;
  max-height: 36px;
  width: 100%;
  height: 100%;
}

.category p{
  margin: 0;
  letter-spacing: 0.015em;
  color: #1B325E;
  font-weight: 500;
  line-height: 1rem;
  font-size: 0.625rem;
}
.header2_tab{
  display: none;
}

.headerbar3_container{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-height: 56px;
  z-index: 200;
  background: #1B325E;
}

.headerbar3_Wrapper{
  padding: 0.875rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  gap: 0.75rem;
}

.headerbar3_Wrapper .back_Btn{
  max-width: 28px;
  max-height: 28px;
  width: 100%;
  height: 100%;
}

.headerbar3_Wrapper .nav_Logo{
  max-width: 26px;
  max-height: 30px;
  width: 100%;
  height: 100%;
}

.headerbar3_Wrapper p{
  letter-spacing: -0.01em;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5rem;
  justify-self: center;
  margin: 0;
}

@media screen and (min-width: 768px) {
  /* .headerbarContainer{
    height: 4rem;
  } */

  .header2_tab{
    display: flex;
  }

  .headerbarWrapper{
    padding: 0.75rem 1.5rem;
    justify-content: flex-start;
    gap: 0.5rem;
  }

  .headerbarLeft, .headerbarCenter, .headerbarRight{
    flex: 1;
  }
  
  .headerbarCenter, .headerbarRight{
    justify-content: center;
  }

  .headerbarLeft{
    gap: 0.5rem;
  }

  .headerbarCenter{
    display: flex;
    flex-direction: column;
    gap: 2.25rem;
    position: relative;
  }

  .left_location{
    display: flex;
    gap: 0.25rem;
    cursor: pointer;
  }

  .left_location p{
    letter-spacing: -0.01em;
    color: #DDE0E7;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.5rem;
    margin: 0;
  }

  .searchbar{
    padding: 0.625rem 0.75rem 0.625rem 2.625rem;
  }

  .searchbar::placeholder{
    line-height: 1.25rem;
  }

  .search_Results{
    top: 50px;
    margin: 0;
  }

  .right_login{
    display: flex;
    color: #FFFFFF;
    margin: 0;
  }

  .right_login a{
    cursor: pointer;
    letter-spacing: -0.01em;
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.5rem;
  }

  .right_login a:hover{
    color: #ffffff;
  }

  .headerbarRight{
    gap: 1.5rem;
  }

  .storeIcon, .cartIcon, .user_profile{
    display: flex;
    gap: 0.25rem;
    align-items: center;
  }

  .storeIcon p, .cartIcon p, .user_profile p{
    display: block;
    color: #DDE0E7;
    letter-spacing: -0.01em;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.5rem;
  }

  .searchbarWrapper, .locationbarWrapper{
    display: none;
  }
  .login_tab_only{
    display: block;
  }

  .categories_Container{
    padding: 0.5rem 1.5rem;
  }

  .categories_Wrapper{
    gap: 1.125rem;
  }

  .category img{
    max-width: 38px;
    max-height: 38px;
  }

  .category p{
    font-size: 0.75rem;
    line-height: 1.125rem;
  }

  .headerbar3_container{
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .headerbarLeft_Inner {
      gap: 1.5rem;
    }

  .headerbarWrapper{
    padding: 0.75rem 0.6rem;
    gap: 0.25rem;
  }
  .storeIcon{
    display: flex;
    gap: 0.25rem;
    align-items: center;
    order: 2;
  }

  .storeIcon p{
    display: block;
    color: #DDE0E7;
    letter-spacing: -0.01em;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.5rem;
  }

  .cartIcon{
    order: 1;
  }

  .right_login, .user_profile{
    display: flex;
    order: 3;
  }

  .storeIcon, .cartIcon, .right_login, .user_profile{
    gap: 0.375rem;
  }

  .login_tab_only{
    display: none;
  }

  .categories_Container{
    padding: 0.5rem 3.75rem;
  }

  .categories_Wrapper{
    gap: 2rem;
  }

  .headerbarRight{
    gap: 2.5rem;
  }
} 

@media screen and (min-width: 1200px){
  .headerbarWrapper {
    padding: 0.75rem 1.875rem;
  }

  .headerbarLeft{
    justify-content: space-around;
  }
}

@media screen and (min-width: 1400px) {
  .headerbarWrapper{
    padding: 0.75rem 3.75rem;
  }

  .headerbarLeft{
    gap: 1.5rem;
  }

  .headerbarRight {
    gap: 2.5rem;
  }
}