.headerbarContainer{
  background: #1B325E;
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}

.headerbarWrapper{
  display: flex;
  justify-content: space-between;
  padding: 14px 1rem;
  background: #1B325E;
}

.headerbarLeft, .headerbarRight{
  display: flex;
  gap: 17px;
  align-items: center;
}

.headerbarCenter{
  display: none;
}

.hamburger{
  max-height: 28px;
  max-width: 28px;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.hamburger img{
  width: 100%;
  height: 100%;
}

.left_location{
  display: none;
}

.right_login{
  display: none;
}

.storeIcon, .cartIcon, .user_profile{
  cursor: pointer;
}

.storeIcon img, .cartIcon img, .user_profile img{
  height: 100%;
  width: 100%;
  max-width: 26px;
  max-height: 26px;
}

.storeIcon p, .cartIcon p, .user_profile p{
  display: none;
  margin: 0;
}

.searchbarWrapper{
  width: 100%;
  padding: 0px 1rem 14px 1rem;
  background: #1B325E;
}

.searchbar{
  padding: 0.5rem 12px;
  width: 100%;
  border-radius: 4px;
  border: none;
  outline: none;
}

.searchbar::placeholder{
  color: #1B325E;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}

.locationbarWrapper{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
  background: #546586;
  padding: 14px 1rem;
}

.locationbarWrapper p{
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.004em;
  color: #FFFFFF;
  margin: 0;
}

.login_tab_only{
  display: none;
}

.categories_Container{
  max-width: 100%;
  min-height: 72px;
  overflow-y: hidden;
  overflow-x: auto;
  cursor: grabbing;
  scroll-snap-type: x mandatory;
  scroll-padding: 0 1000px;
  padding: 0.5rem 0 0.5rem 1rem;
  cursor: auto;
  background-color: #FFFFFF;
}

.categories_Container::-webkit-scrollbar{
  display: none;
  width: 0;
}

.categories_Wrapper{
  display: flex;
  gap: 1rem;
  white-space: nowrap;
  /* padding: 0 0 10px; */
}

.category{
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.category img{
  max-width: 36px;
  max-height: 36px;
  width: 100%;
  height: 100%;
}

.category p{
  margin: 0;
  letter-spacing: 0.015em;
  color: #1B325E;
  font-weight: 500;
  line-height: 1rem;
  font-size: 0.625rem;
}

@media screen and (min-width: 768px) {
  /* .headerbarContainer{
    height: 4rem;
  } */

  .headerbarWrapper{
    padding: 12px 24px;
    justify-content: flex-start;
    gap: 0.5rem;
  }

  .headerbarLeft, .headerbarCenter, .headerbarRight{
    flex: 1;
  }
  
  .headerbarCenter, .headerbarRight{
    justify-content: center;
  }

  .headerbarLeft{
    gap: 0.5rem;
  }

  .headerbarCenter{
    display: flex;
    gap: 36px;
  }

  .left_location{
    display: flex;
    gap: 4px;
    cursor: pointer;
  }

  .left_location p{
    letter-spacing: -0.01em;
    color: #DDE0E7;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    margin: 0;
  }

  .searchbar{
    padding: 10px 12px;
  }

  .searchbar::placeholder{
    line-height: 20px;
  }

  .right_login{
    display: none;
    color: #FFFFFF;
    margin: 0;
  }

  .right_login a{
    cursor: pointer;
    letter-spacing: -0.01em;
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
  }

  .right_login a:hover{
    color: #ffffff;
  }

  .headerbarRight{
    gap: 30px;
  }

  .storeIcon, .cartIcon, .user_profile{
    display: flex;
    gap: 4px;
    align-items: center;
  }

  .storeIcon p, .cartIcon p, .user_profile p{
    display: block;
    color: #DDE0E7;
    letter-spacing: -0.01em;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
  }

  .searchbarWrapper, .locationbarWrapper{
    display: none;
  }
  .login_tab_only{
    display: block;
  }

  .categories_Container{
    padding: 0.5rem 1.5rem;
  }

  .categories_Wrapper{
    gap: 1.125rem;
  }

  .category img{
    max-width: 38px;
    max-height: 38px;
  }

  .category p{
    font-size: 0.75rem;
    line-height: 1.125rem;
  }
}

@media screen and (min-width: 1024px) {
  .headerbarWrapper{
    padding: 12px 30px;
  }
  .storeIcon{
    display: flex;
    gap: 4px;
    align-items: center;
    order: 2;
  }

  .storeIcon p{
    display: block;
    color: #DDE0E7;
    letter-spacing: -0.01em;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
  }

  .cartIcon{
    order: 1;
  }

  .right_login, .user_profile{
    display: flex;
    order: 3;
  }

  .storeIcon, .cartIcon, .right_login, .user_profile{
    gap: 6px;
  }

  .login_tab_only{
    display: none;
  }

  .categories_Container{
    padding: 0.5rem 3.75rem;
  }

  .categories_Wrapper{
    gap: 2rem;
  }
} 

@media screen and (min-width: 1400px) {
  .headerbarWrapper{
    padding: 12px 60px;
  }

  .headerbarLeft{
    gap: 1.5rem;
  }
}