.section4_container{
  padding: 12px 16px;
  background-color: #FFFFFF;
}

.section4_header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section4_heading{
  color: #000000;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.section4_card_container{
  display: grid;
  grid-template-columns: repeat(2, 158px);
  grid-template-rows: repeat(2, 191px);
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  margin: 12px 0 16px;
  justify-content: space-between;
}

.section4_link{
  letter-spacing: -0.015em;
  color: #1B325E;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .section4_container{
    padding: 1.125rem 1.5rem 2.375rem;
  }

  .section4_heading{
    font-size: 1.5rem;
    line-height: 2.25rem;
  }

  .section4_card_container{
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 230px;
    grid-column-gap: 24px;
    grid-row-gap: 0px;
    margin: 18px 0;
  }
}

@media screen and (min-width: 1024px) {
  .section4_container{
    padding: 20px 32px;
  }
  .section4_card_container{
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 356px;
  grid-column-gap: 24px;
  grid-row-gap: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .section4_container{
    padding: 22px 42px;
  }
}

@media screen and (min-width: 1400px) {
  .section4_container{
    padding: 24px 60px;
  }

  .section4_card_container{
    grid-template-columns: repeat(4, 1fr);
    margin: 24px 0;
  }
}