*, *::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.signup-wrapper{
  margin: 128px 0 0;
  padding: 48px 1rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  gap: 24px;
  width: 100%;
  height: 100%;
  position: relative;
}

.page-heading{
  font-size: 20px;
  line-height: 1.75rem;
  font-weight: 600;
  letter-spacing: -0.01em;
  color: #1B325E;
}

.page-desc{
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #3D5176;
}

.input-field{
  padding: 16px;
  border: 1px solid #EFEFEF;
  border-radius: 4px;
  background: white;
  width: 100%;
}

.input-field::placeholder{
color: #8D9091;
}

.submit-button{
  border-radius: 0 0 0 1rem;
  background: #1B325E;
  padding: 16px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  max-width: 328px;
  width: 100%;
  outline: none;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  letter-spacing: -0.5px;
  cursor: pointer;
  border: none;
  transform: skew(-20deg);
  box-shadow: 0px 4px 4px 0px #00000040;
}

.submit-button p{
  display: inline-block;
  transform: skew(20deg);
  margin: 0;
}

.extra-btn{
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  letter-spacing: -0.5px;
  color: #1B325E;
  cursor: pointer;
}

button:disabled{
  opacity: 0.5;
  pointer-events: none;
}


.signup-header{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2px;
}

.signup-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}
.inputfield-Container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}

.inputField{
  position: relative;
}

.button-Container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.tc-Footer{
  width: 100%;
  /* position: fixed;
  bottom: 0; */
  /* margin-bottom: 12px; */
  margin: 96px 0 0;
}

.footer-Text{
  text-align: center;
  font-size: 11px;
  line-height: 16px;
  font-weight: 500;
  color: #828EA6;
}

.footer-Text span{
  font-weight: 600;
  color: #1B325E;
  cursor: pointer;
}

/* input[type='date']::before{
  color: lightgray;
  content: attr(placeholder) !important;
}

input[type='date']:focus::before{
  content: '' !important;
} */

.resend-btn{
  color: #1B325E;
  letter-spacing: -0.5px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  cursor: pointer;
  text-align: right;
  background: transparent;
  border: none;
  outline: none;
  opacity: 1 !important;
  width: fit-content;
  align-self: flex-end;
}

.btn-disable{
  pointer-events: none !important;
}

.homepage_wrapper{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  background: #F8F9FA;
}

.page_Wrapper{
  margin-top: 56px;
  min-width: 100vw;
  /* min-height: 100vh; */
  height: 100%;
  width: 100%;
  background-color: #E5E5E5;
}

.empty_order_sec{
  width: 100%;
  height: 100%;
  background: #E5E5E5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding: 80px 0;
}

.empty_order_text{
  margin: 0;
  color: #000000;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

input, textarea{
  border-radius: 0.25rem;
  background: #FFFFFF;
  border: 0.063rem solid #EFEFEF;
  color: #000000;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.5rem;
  width: 100%;
}

input::placeholder, textarea::placeholder{
  color: #8D9091;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.5rem;
}

@media screen and (min-width: 768px) {
  .submit-button{
    max-width: 552px;
  }

  .page_Wrapper{
    margin: 0;
    padding: 0 1.5rem;
  }

  .section_Wrapper{
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.02);
  border-radius: 0.25rem;
  background: #FFFFFF;
  }
}

@media screen and (min-width:1024px) {
  .signup-wrapper{
    max-width: 360px;
    height: fit-content;
    box-shadow: 0px 4px 20px rgba(27, 50, 94, 0.1);
  }
}

/* ---- Radio Btn ---- */
.radiobtn-label {
  display: flex;
  align-items: center;
  height: 18px;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding-left: 1.875rem;
}
.radiobtn-label input[type="radio"] {
  position: absolute;
  cursor: pointer;
  opacity: 0;
}
.radiobtn-label .radio-custom {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  border: 1px solid #98A3B7;
  border-radius: 50%;
  box-sizing: border-box;
}
.radiobtn-label .radio-custom:after {
  content: "";
  position: absolute;
  display: none;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #1B325E;
}
.radiobtn-label input[type="radio"]:checked + .radio-custom {
  border-color: #1B325E;
}
.radiobtn-label input[type="radio"]:checked + .radio-custom:after {
  display: block;
}

/* ---- Check Box ---- */
.checkbox-label {
  display: block;
  position: relative;
  cursor: pointer;
  user-select: none;
  padding-left: 2rem;
  color: #000000;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.checkbox-label input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}
.custom-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 24px;
  height: 24px;
  border: 1px solid #1B325E;
  border-radius: 4px;
  background-color: #ffff;
}
.custom-checkmark:after {
  content: "";
  position: absolute;
  /* display: none; */
  opacity: 0;
  top: 6px;
  left: 9px;
  height: 9px;
  width: 4.5px;
  border: 2px solid #1B325E;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  transition: 0.3s ease;
}
.checkbox-label input:checked ~ .custom-checkmark{
  background-color: #FFFFFF;
}
.checkbox-label input:checked ~ .custom-checkmark::after {
  /* display: block; */
  opacity: 1;
}